html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

img {
  display: block;
    margin: 0 auto 1rem auto;
}

h1 {
  text-align: left;
}

p {
  text-align: left;
}

div a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #ccc;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
}
