html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 2 auto;
  color: #333;
  background-color: #f2f2f2;
  text-align: center;
  max-width: 25em;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  list-style-type: none;
  margin: 2rem;
}

.image > img {
  display: inline-block;
  margin: auto;
  max-width: 25em;
  padding: 0.4em 0.75em 0.5em;
  width: 100%;
}

.text {
  display: inline-block;
  max-width: 25em;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.text h1 {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 1rem .5rem;
  max-width: 25em;
  padding: 0;
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
}

p {
  padding: 0;
  margin: 1rem .5rem;
  text-align: left;
  background-color: #f2f2f2;
  line-height: 1.5;
}

nav a {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 10px;
  color: #333;
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  background-color: #666;
}

main p {

}
